<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @test.category %>
</p>

<p>
  <strong>Cday:</strong>
  <%= @test.cday %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @test.cid %>
</p>

<p>
  <strong>Clocation:</strong>
  <%= @test.clocation %>
</p>

<p>
  <strong>Cno:</strong>
  <%= @test.cno %>
</p>

<p>
  <strong>Copresenter kana1:</strong>
  <%= @test.copresenter_kana1 %>
</p>

<p>
  <strong>Copresenter kana2:</strong>
  <%= @test.copresenter_kana2 %>
</p>

<p>
  <strong>Copresenter kana3:</strong>
  <%= @test.copresenter_kana3 %>
</p>

<p>
  <strong>Copresenter kana4:</strong>
  <%= @test.copresenter_kana4 %>
</p>

<p>
  <strong>Copresenter kana5:</strong>
  <%= @test.copresenter_kana5 %>
</p>

<p>
  <strong>Copresenter kana6:</strong>
  <%= @test.copresenter_kana6 %>
</p>

<p>
  <strong>Copresenter kana7:</strong>
  <%= @test.copresenter_kana7 %>
</p>

<p>
  <strong>Copresenter name1:</strong>
  <%= @test.copresenter_name1 %>
</p>

<p>
  <strong>Copresenter name2:</strong>
  <%= @test.copresenter_name2 %>
</p>

<p>
  <strong>Copresenter name3:</strong>
  <%= @test.copresenter_name3 %>
</p>

<p>
  <strong>Copresenter name4:</strong>
  <%= @test.copresenter_name4 %>
</p>

<p>
  <strong>Copresenter name5:</strong>
  <%= @test.copresenter_name5 %>
</p>

<p>
  <strong>Copresenter name6:</strong>
  <%= @test.copresenter_name6 %>
</p>

<p>
  <strong>Copresenter name7:</strong>
  <%= @test.copresenter_name7 %>
</p>

<p>
  <strong>Copresenter office1:</strong>
  <%= @test.copresenter_office1 %>
</p>

<p>
  <strong>Copresenter office2:</strong>
  <%= @test.copresenter_office2 %>
</p>

<p>
  <strong>Copresenter office3:</strong>
  <%= @test.copresenter_office3 %>
</p>

<p>
  <strong>Copresenter office4:</strong>
  <%= @test.copresenter_office4 %>
</p>

<p>
  <strong>Copresenter office5:</strong>
  <%= @test.copresenter_office5 %>
</p>

<p>
  <strong>Copresenter office6:</strong>
  <%= @test.copresenter_office6 %>
</p>

<p>
  <strong>Copresenter office7:</strong>
  <%= @test.copresenter_office7 %>
</p>

<p>
  <strong>Croom:</strong>
  <%= @test.croom %>
</p>

<p>
  <strong>Ctime:</strong>
  <%= @test.ctime %>
</p>

<p>
  <strong>Ctype:</strong>
  <%= @test.ctype %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @test.filename %>
</p>

<p>
  <strong>Form lang:</strong>
  <%= @test.form_lang %>
</p>

<p>
  <strong>Leader belongs:</strong>
  <%= @test.leader_belongs %>
</p>

<p>
  <strong>Leader kana:</strong>
  <%= @test.leader_kana %>
</p>

<p>
  <strong>Leader name:</strong>
  <%= @test.leader_name %>
</p>

<p>
  <strong>Leader office:</strong>
  <%= @test.leader_office %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @test.prefecture %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Title sub:</strong>
  <%= @test.title_sub %>
</p>

<p>
  <strong>Zacho kana:</strong>
  <%= @test.zacho_kana %>
</p>

<p>
  <strong>Zacho name:</strong>
  <%= @test.zacho_name %>
</p>

<p>
  <strong>Zacho office:</strong>
  <%= @test.zacho_office %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
